<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/commonStyle.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://kit.fontawesome.com/aa7454d09f.js" crossorigin="anonymous"></script>
</head>
<body>
     <!-- Header -->
     <header>
        <style>
            #logo img {
                width: 120px;
                height: auto;
            }
        </style>
        
        <div id="logo">
            <a href="/">
                <img src="static/images/logo-white.png" alt="">
            </a>
        </div>
        <ul class="nav" id="nav">
            <ul class="navLogo">
                <a href="/">
                    <img src="static/images/logo-white.png" alt="">
                </a>
            </ul>
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/aboutus">About Us</a></li>
            <li class="nav-link"><a href="/contact">Contact</a></li>
            <li class="sociallinkContainer">
                <img class="sociallink" src="static/images/fabook-icon-white.svg" alt="">
                <img class="sociallink" src="static/images/twitter-icon-white.svg" alt="">
                <img class="sociallink" src="static/images/inkedin-icon-white.svg" alt="">
                <img class="sociallink" src="static/images/whatsapp-icon-white.svg" alt="">
            </li>
        </ul>
        <div id="barContainer">
            <i id="bar" class="fa-solid fa-bars"></i>
        </div>
    </header>

    <!-- aboutus hero  -->
    <section class="gridSection">
        <div class="sectionDesc processessDesc">
            <h1 class="sectionHeader">About TRADE/SYNC</h1>
            <p class="sectionPara">Trade/Sync was founded in 2024 with a bold vision: to revolutionize the trading industry through the power of artificial intelligence. Our journey began with a simple yet ambitious goal-developing a platform that could deliver unprecedented returns while minimizing risk for our clients.
            </p>
            <div class="eachProcesses">
                <div class="eachprocessesPara">
                    <h1 class="processTitle">Early Development</h1>
                    <p>
                        In the early stages, our team of expert traders, data scientists, and AI specialists collaborated to create cutting-edge trading algorithms. We focused on leveraging advanced machine learning techniques to analyze market data and generate high-reward, low-risk trading signals. Our initial research and development phase involved extensive backtesting and optimization of these algorithms to ensure their robustness and reliability.
                    </p>
                </div>
            </div>
            <div class="eachProcesses">
                <div class="eachprocessesPara">
                    <h1 class="processTitle">Breakthrough Performance</h1>
                    <p>
                        Our dedication and innovation paid off. By 2024, Trade/Sync achieved remarkable performance metrics, consistently delivering a 300% return within a month while maintaining a maximum drawdown of only 6%. This exceptional performance set us apart from traditional trading platforms and highlighted the transformative potential of our AI-driven strategies.
                    </p>
                </div>
            </div>
            <div class="eachProcesses">
                <div class="eachprocessesPara">
                    <h1 class="processTitle">Building the Platform</h1>
                    <p>
                        With our algorithms refined and validated, we turned our attention to building a user-friendly platform that could bring these capabilities to a broader audience. We designed Trade/Sync to provide seamless and intuitive access to our advanced trading tools, ensuring that both novice and experienced traders could benefit from our technology.
                    </p>
                </div>
            </div>
            <div class="eachProcesses">
                <div class="eachprocessesPara">
                    <h1 class="processTitle">Vision for the Future</h1>
                    <p>
                        As we prepare to launch Trade/Sync, our vision extends beyond individual trading success. We aim to establish Trade/Sync as a leading trading firm, offering comprehensive solutions that empower traders and investors worldwide. Our mission is to democratize access to sophisticated trading strategies, enabling our clients to achieve substantial returns with minimized risk.
                    </p>
                </div>
            </div>
            <div class="eachProcesses">
                <div class="eachprocessesPara">
                    <h1 class="processTitle">Seeking Funding and Growth</h1>
                    <p>
                        To realize our vision, we are seeking funding to accelerate our growth and expand our reach. With the support of investors, we plan to enhance our platform's capabilities, integrate additional features, and scale our operations. Our goal is to create a thriving ecosystem where traders can achieve their financial goals confidently and efficiently.
                    </p>
                </div>
            </div>    
        </div>
        <div class="sectionPic bouncepic processesPic" id="sectionPic">
            <img src="static/images/about-hero.png" alt="">
        </div>
    </section>

    <!-- About us status -->

    <div class="services">
        <div class="aboutusimgContainer">
            <img src="static/images/marketm.jpg" alt="" height="468.06">
            <img src="static/images/about-image-2.jpg" alt="">
        </div>

        <div class="offers">
            <div class="eachOffer">
                <img src="static/images/fast-forward-icon-white.svg" alt="">
                <div class="offerDesc">
                    <h1>Fast Management</h1>
                    <p>The Complete Guide to Management and How to Implement it Quickly and Effectively</p>
                </div>
            </div>

            <div class="eachOffer">
                <img src="static/images/support-agent-icon-white.svg" alt="">
                <div class="offerDesc">
                    <h1>Best Support</h1>
                    <p>The Best Support for Intelligent Trading & How to Craft a Compelling Description</p>
                </div>
            </div>

            <div class="eachOffer">
                <img src="static/images/progress-warning-icon-white.svg" alt="">
                <div class="offerDesc">
                    <h1>Best Progress</h1>
                    <p>What is a Crypto-Trading and Why You MUST Take Care</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Play Video -->
       <section class="videoSection">
            <h1 class="videoSectionHeader"></h1>
           <div class="videoContainer">
            <div class="video">
                <img src="static/images/about-video.jpg" class="thumbnail" alt="">
                <img src="static/images/video-play-icon-white.svg" class="playIcon" alt="">
            </div>
            <p>
                In the era of volatile cryptocurrencies, Trade/Sync handles it with utmost care, delivering maximum profit at low risk. Our AI-driven strategies are meticulously designed to navigate the unpredictability of the crypto market, ensuring high rewards while maintaining minimal drawdown. Trust Trade/Sync to optimize your trading experience and secure your financial growth.
            </p>
           </div>
       </section>

       <!-- Carousel -->
    <section class="teamSection">
        <h1 class="sectionHeader">Our Strong & Creative Team</h1>
        <div class="carouselContainer">
            <div class="eachCarousel eachTeam">
                <div class="teamPic">
                    <img src="static/images/team-image-1.jpg" alt="">
                    <div class="teamSocialLink">
                        <img src="static/images/Facebook_black.svg" alt="">
                        <img src="static/images/Vimeo_black.svg" alt="">
                        <img src="static/images/Twitter_black.svg" alt="">
                        <img src="static/images/Instagram_black.svg" alt="">
                    </div>
                </div>
                <div class="teamDesc">
                    <h1 class="teamName">Rebecca Walters</h1>
                    <p class="position">UI UX Designer</p>
                </div>

            </div>
    
            <div class="eachCarousel eachTeam">
                <div class="teamPic">
                    <img src="static/images/team-image-2.jpg" alt="">
                    <div class="teamSocialLink">
                        <img src="static/images/Facebook_black.svg" alt="">
                        <img src="static/images/Vimeo_black.svg" alt="">
                        <img src="static/images/Twitter_black.svg" alt="">
                        <img src="static/images/Instagram_black.svg" alt="">
                    </div>
                </div>
                <div class="teamDesc">
                    <h1 class="teamName">Richard Taylor</h1>
                    <p class="position">Developer</p>
                </div>
            </div>
    
            <div class="eachCarousel eachTeam">
                <div class="teamPic">
                    <img src="static/images/team-image-3.jpg" alt="">
                    <div class="teamSocialLink">
                        <img src="static/images/Facebook_black.svg" alt="">
                        <img src="static/images/Vimeo_black.svg" alt="">
                        <img src="static/images/Twitter_black.svg" alt="">
                        <img src="static/images/Instagram_black.svg" alt="">
                    </div>
                </div>
                <div class="teamDesc">
                    <h1 class="teamName">Bertha Earley</h1>
                    <p class="position">Content writer</p>
                </div>
            </div>
    
            <div class="eachCarousel eachTeam">
                <div class="teamPic">
                    <img src="static/images/team-image-1.jpg" alt="">
                    <div class="teamSocialLink">
                        <img src="static/images/Facebook_black.svg" alt="">
                        <img src="static/images/Vimeo_black.svg" alt="">
                        <img src="static/images/Twitter_black.svg" alt="">
                        <img src="static/images/Instagram_black.svg" alt="">
                    </div>
                </div>
                <div class="teamDesc">
                    <h1 class="teamName">Rebecca Walters</h1>
                    <p class="position">UI UX Designer</p>
                </div>

            </div>
    
            <div class="eachCarousel eachTeam">
                <div class="teamPic">
                    <img src="static/images/team-image-2.jpg" alt="">
                    <div class="teamSocialLink">
                        <img src="static/images/Facebook_black.svg" alt="">
                        <img src="static/images/Vimeo_black.svg" alt="">
                        <img src="static/images/Twitter_black.svg" alt="">
                        <img src="static/images/Instagram_black.svg" alt="">
                    </div>
                </div>
                <div class="teamDesc">
                    <h1 class="teamName">Richard Taylor</h1>
                    <p class="position">Developer</p>
                </div>
            </div>
    
            <div class="eachCarousel eachTeam">
                <div class="teamPic">
                    <img src="static/images/team-image-3.jpg" alt="">
                    <div class="teamSocialLink">
                        <img src="static/images/Facebook_black.svg" alt="">
                        <img src="static/images/Vimeo_black.svg" alt="">
                        <img src="static/images/Twitter_black.svg" alt="">
                        <img src="static/images/Instagram_black.svg" alt="">
                    </div>
                </div>
                <div class="teamDesc">
                    <h1 class="teamName">Bertha Earley</h1>
                    <p class="position">Content writer</p>
                </div>
            </div>
        </div>
        <div class="carouselIndicator">
            <div class="indicator activeIndicator" onclick="slideCarousel(0)"></div>
            <div class="indicator" onclick="slideCarousel(1)"></div>
            <div class="indicator" onclick="slideCarousel(2)"></div>
            <div class="indicator" onclick="slideCarousel(3)"></div>
            <div class="indicator" onclick="slideCarousel(4)"></div>
            <div class="indicator" onclick="slideCarousel(5)"></div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="joinSection">
            <div class="joinDesc">
                <h1 class="sectionHeader">Join with us</h1>
                <p class="sectionPara">
                    Once you have created your account, you can purchase coins from website
                </p>
            </div>
            <button class="btn primaryBtn">JOIN NOW</button>
        </div>

        <div class="footerlinksContainer">
            <div class="footerAboutus">
                <style>
                    #logo img {
                        width: 120px;
                    }
                </style>
                
                <div id="logo">
                    <a href="/">
                        <img src="static/images/logo-white.png" alt="">
                    </a>
                </div>
                <p class="darkPara">With no commissions and a simple user interface, 
                 Prouple is the most reliable way to trade for 
                 Cryptocurrency.
                </p>
                <div class="footersociallinkContainer">
                    <img class="sociallink" src="static/images/fabook-icon-white.svg" alt="">
                    <img class="sociallink" src="static/images/twitter-icon-white.svg" alt="">
                    <img class="sociallink" src="static/images/inkedin-icon-white.svg" alt="">
                    <img class="sociallink" src="static/images/whatsapp-icon-white.svg" alt="">
                </div>
            </div>

            <div class="footerlink">
                <h1 class="linkTitle">Explore</h1>
                <a href="#" class="eachLink">About us</a>
                <a href="#" class="eachLink">FAQ</a>
                <a href="#" class="eachLink">Blog</a>
                <a href="#" class="eachLink">Contact</a>
            </div>

            <div class="footerlink">
                <h1 class="linkTitle">Service</h1>
                <a href="#" class="eachLink">Mining</a>
                <a href="#" class="eachLink">Control Data</a>
                <a href="#" class="eachLink">Design</a>
                <a href="#" class="eachLink">Security</a>
            </div>

            <div class="footerlink">
                <h1 class="linkTitle">Resource</h1>
                <a href="#" class="eachLink">Style Guide</a>
                <a href="#" class="eachLink">Change Log</a>
                <a href="#" class="eachLink">License</a>
            </div>
        </div>

        <div class="footerCopyright">
             <p>&copy; 2023 design and developed by <a href="#" class="developedBy">Programming Insider</a>.</p>
        </div>
    </footer>
    
    <script src="static/script.js"></script>
</body>
</html>